<div class="container">
  <app-product-list-table [products]="products$ | async"
                          [totalAmount]="totalAmount$ | async"
                          [currentPage]="currentPage$ | async"
                          (pageChanged)="getProducts($event)"
                          (changeInformationOpened)="openChangeInformation($event)"
                          (stockIncreaseOpened)="openIncreaseStock($event)"
                          (stockDecreaseOpened)="openDecreaseStock($event)"
                          (removeProductOpened)="openRemoveProduct($event)">
  </app-product-list-table>
</div>
