@use "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  mat-sidenav-container {
    flex: 1;

    mat-sidenav {
      width: 200px;
    }

    mat-sidenav-content {
      padding: 8px;
    }
  }
}

.active {
  color: variables.$color-500 !important;
  background: variables.$color-50 !important;
}
