<mat-card class="mat-elevation-z4">
  <form [formGroup]="form" (ngSubmit)="addProduct()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" formControlName="name" matInput>
      <mat-error *ngIf="form.get('name')?.invalid">
        <div *ngIf="form.get('name')?.errors?.['required']">
          Name is required
        </div>
        <div *ngIf="form.get('name')?.errors?.['maxlength']">
          Name is can't exceed 50 characters
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input type="number" formControlName="price" matInput>
      <mat-error *ngIf="form.get('price')?.invalid">
        <div *ngIf="form.get('price')?.errors?.['required']">
          Price is required
        </div>
        <div *ngIf="form.get('price')?.errors?.['min']">
          Price can't be negative
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Stock</mat-label>
      <input type="number" formControlName="stock" matInput>
      <mat-error *ngIf="form.get('stock')?.invalid">
        <div *ngIf="form.get('stock')?.errors?.['required']">
          Stock is required
        </div>
        <div *ngIf="form.get('stock')?.errors?.['min']">
          Stock can't be negative
        </div>
      </mat-error>
    </mat-form-field>
    <div>
      <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">
        Add
      </button>
    </div>
  </form>
</mat-card>
